touch README.md
touch .gitignore
echo "node_modules/" >> .gitignore
echo "log/" >> .gitignore
echo "tmp/" >> .gitignore
echo "coverage/" >> .gitignore
echo ".DS_Store" >> .gitignore
echo "classroom-reservation-client/.next" >> .gitignore
echo "classroom-reservation-client/out" >> .gitignore
echo "classroom_reservation_api/tmp" >> .gitignore
echo "classroom_reservation_api/log" >> .gitignore

