touch README.md
touch .gitignore
.DS_Store
classroom-reservation-client/.next
classroom-reservation-client/node_modules
classroom_reservation_api/tmp
classroom_reservation_api/log
classroom_reservation_api/.env

