# Ignore Mac system files
.DS_Store

# Ignore node_modules directory
node_modules/

# Ignore log files and temp files
log/
tmp/

# Ignore Rails specific files
/coverage/
/db/*.sqlite3
/db/*.sqlite3-journal
/public/system
/public/uploads

# Ignore specific directories
classroom-reservation-client/node_modules/
classroom-reservation-api/tmp/
classroom-reservation-api/log/
