body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
  }
  
  h1 {
    text-align: center;
    margin: 20px 0;
  }
  
  .container {
    width: 90%;
    margin: 0 auto;
  }
  
  .form-container {
    background-color: #fff;
    padding: 20px;
    margin: 20px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }

  button {
    padding: 10px 20px;
    background-color: #5cb87a;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px; /* ボタン間の隙間 */
  }
  
  .button:hover {
    background-color: #4cae63;
  }
  
  form label {
    display: block;
    margin-bottom: 10px;
  }
  
  form input[type="text"],
  form input[type="datetime-local"],
  form input[type="password"],
  form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  form button {
    padding: 10px 20px;
    background-color: #5cb87a;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
  }
  
  form button:hover {
    background-color: #4cae63;
  }
  
  .error-message {
    color: red;
  }
  